.container-full {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--darker-color);
}

.container-full-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px 0;
    gap: 10px;
    overflow: hidden;
}

.container-header-section {
    width: 100%;
    padding: 0 10px;
}

.container-header-section-inner {
    width: 100%;
    height: 60px;
    background-color: var(--dark-color);
    border-radius: 10px;
}

.container-body-section {
    width: 100%;
    height: calc(100% - 70px);
    padding: 0 10px;
}

.container-body-section .loading {
    width: 100%;
    height: 100%;
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.body-section-files .loading {
    width: 100%;
    height: 100%;
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.container-body-section-inner {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow: hidden;
}

/*FILES PANE*/
/*RECENTS*/
/*.recents-list {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    gap: 10px;*/
/*    width: 100%;*/
/*    padding: 0 10px;*/
/*}*/

.recents-list p {
    margin: 0;
}

.recents-list .recent-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    color: var(--light-color);
    border: 1px solid var(--accent-darker-color);
    width: 100%;
    /*width: 21rem;*/
    overflow: hidden;
    /*flex-grow: 1;*/
}

.recents-list .recent-item:hover {
    background-color: var(--accent-darker-color);
    color: var(--lighter-color);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.recent-item .recent-icon {
    font-size: 4rem;
    color: inherit;
    display: flex;
    align-items: center;
}

.recent-item .recent-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
    overflow: hidden;
}

.recent-item .filename {
    color: inherit;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
}

.recent-item .filedate, .recent-item .filesize {
    color: inherit;
    font-size: 0.9rem;
}

.recent-item .recent-options {
    color: var(--light-color);
    display: flex;
    align-items: center;
}

.recent-item .recent-options i:first-child {
    color: inherit;
}

.recent-item .recent-options i {
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 3px;
    border-radius: 5px;
}

.recent-item .recent-options i:hover {
    background: var(--accent-color);
    color: var(--darker-color);
}

/*FOLDERS*/
.dir-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.folders-list, .folder-list, .files-list, .recents-list {
    width: 100%;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: flex-start;*/
    /*flex-wrap: wrap;*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr)); /* Minimum 100px wide columns */
    min-height: 4rem;
    gap: 10px;
    padding: 0 10px;
}

.folder-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 5px 10px;
    color: var(--light-color);
    border: 1px solid var(--accent-darker-color);
    width: 100%;
    /*width: 21rem;*/
    /*flex-grow: 1;*/
    user-select: none;
}

.folder-item .folder-name {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: inherit;
    font-weight: bold;
}

.folder-item:hover,
.folder-item.selected {
    background-color: var(--accent-darker-color);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--lighter-color);
}

.folder-item.selected:hover {
    opacity: 0.9;
}

.folder-item i {
    font-size: 4rem;
    color: inherit;
}

.folder-name {
    font-size: 1.1rem;
    color: inherit;
    text-transform: capitalize;
}

.folder-options i {
    font-size: 1.5rem;
    color: inherit;
    padding: 3px;
    border-radius: 5px;
}

.folder-options i:hover {
    background: var(--accent-color);
    color: var(--darker-color);
}

/*FILES*/
.body-section-files {
    width: 100%;
    height: 100%;
    background-color: var(--dark-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    padding: 2px 0;
}

.body-section-files p {
    user-select: none;
}

.body-section-files-inner {
    overflow: scroll;
    border-radius: 10px;
    position: relative;
}

.files-header {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--light-color);
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.files-header p {
    margin: 0;
}

.body-section-files .files-subgroups {
    width: 100%;
    background-color: var(--dark-color);
    border-radius: 10px;
    margin-top: 10px;
    min-height: 10rem;
}

.file-sorter {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.file-sorter .sort-type {
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.file-sorter .sort-type:hover {
    color: var(--accent-color);
}

.sort-selector {
    width: 100px;
    height: 30px;
    background-color: var(--darker-color);
    border: none;
    border-radius: 10px;
    color: var(--light-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0 5px;
    outline: none;
    cursor: pointer;
}

.sort-selector:hover {
    background: var(--accent-darker-color);
}

.sort-selector option[value="hide"] {
    display: none;
}

.sort-selector option {
    background-color: var(--darker-color);
    color: var(--light-color);
    font-size: 1.1rem;
    font-weight: 500;
}


/*DETAILS PANE*/

.body-section-details {
    width: 500px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.body-section-details .file-details {
    width: 100%;
    height: 100%;
    background-color: var(--dark-color);
    border-radius: 10px;
}

/*ACCOUNT STATS*/

.body-section-details .account-stats {
    width: 100%;
    height: 150px;
    background-color: var(--dark-color);
    border-radius: 10px;
}

.account-stats-body {
    padding: 10px;
}

.account-stats-body-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.account-stats-body-inner p {
    margin: 0;
    color: var(--light-color);

}

.account-stats-body-inner .details-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}

.account-stats-body-inner .details-item .details-title {
    font-size: 1.1rem;
    font-weight: 600;
}

.header {
    width: 100%;
    height: 3.4rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--light-color);
    padding: 10px 15px;
    border-bottom: 2px solid var(--darker-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header p {
    margin: 0;
}

/*files*/
/*.files-list {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    gap: 10px;*/
/*    width: 100%;*/
/*    padding: 0 10px;*/
/*    margin-bottom: 2rem;*/
/*}*/

.files-list p {
    margin: 0;
}

.files-list .file-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    color: var(--light-color);
    border: 1px solid var(--accent-darker-color);
    width: 100%;
    /*width: 21rem;*/
    overflow: hidden;
    /*flex-grow: 1;*/
}

.files-list .file-item:hover {
    background-color: var(--accent-darker-color);
    color: var(--lighter-color);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.files-list .file-item .file-icon {
    font-size: 4rem;
    color: inherit;
    display: flex;
    align-items: center;
}

.files-list .file-item .file-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
    overflow: hidden;
}

.files-list .file-item .filename {
    color: inherit;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
}

.files-list .file-item .filedate, .files-list .file-item .filesize {
    color: inherit;
    font-size: 0.9rem;
}

.files-list .file-item .file-options {
    color: inherit;
    display: flex;
    align-items: center;
}

.files-list .file-item .file-options i:first-child {
    color: inherit;
}

.files-list .file-item .file-options i {
    font-size: 1.5rem;
    color: inherit;
    padding: 3px;
    border-radius: 5px;
}

.files-list .file-item .file-options i:hover {
    background: var(--accent-color);
    color: var(--darker-color);
}

/*DETAILS*/
.recent-item.selected,
.file-item.selected {
    background-color: var(--accent-darker-color);
    color: var(--lighter-color);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.recent-item.selected:hover,
.file-item.selected:hover {
    background-color: var(--accent-darker-color);
    color: var(--lighter-color);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
}

.details-body {
    width: 100%;
    height: calc(100% - 44px);
    padding: 0 10px;
    overflow: hidden;
}

.details-body-inner {
    width: 100%;
    height: calc(100% - 70px);
    background-color: var(--dark-color);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.details-body-empty {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5%;
    padding: 10px;
    text-align: center;
    gap: 2rem;
}

.details-body-empty i {
    font-size: 4rem;
}

.details-body-options,
.details-body-folder-options {
    padding: 10px 0;
}

.details-body-options-inner,
.details-body-folder-options-inner {
    display: none;
}

.details-body-folder-options {
    margin-top: -20px;
}

.details-body-options-inner.active,
.details-body-folder-options-inner.active {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 3px;
    color: var(--light-color);
}

.details-body-options-inner i,
.details-body-folder-options-inner i {
    margin: 0;
    padding: 10px;
    font-size: 1.5rem;
    color: inherit;
    border-radius: 5px;
}

.details-body-options-inner i:hover,
.details-body-folder-options-inner i:hover {
    background-color: var(--accent-darker-color);
    cursor: pointer;
    color: var(--lighter-color);
}

.details-body-inner p {
    margin: 0;
    padding: 3px;
    color: inherit;
}

.details-body-inner .details-title {
    color: inherit;
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
}

.details-options-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: 100;
    display: none;
}

.details-options-modal-overlay.active {
    display: block;
}

.details-options-modal {
    display: none;
}

.details-options-modal.active {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    background-color: var(--dark-color);
    border: 1px solid var(--accent-darker-color);
    border-radius: 10px;
    z-index: 101;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.details-options-modal-inner {

}

.details-options-modal-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
}

.details-options-modal-header i {
    color: var(--light-color);
    cursor: pointer;
}

.details-options-modal-header i:hover {
    color: var(--accent-color);
}

/*Context menu*/
.context-menu,
.folder-context-menu,
.general-context-menu {
    display: none;
}

.context-menu.active,
.folder-context-menu.active,
.general-context-menu.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    background-color: var(--dark-color);
    border: 1px solid var(--darker-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    gap: 10px;
    display: block;
    padding: 5px 0;
}

.context-menu p,
.folder-context-menu p,
.general-context-menu p {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}

.context-menu-inner,
.folder-context-menu-inner,
.general-context-menu-inner {
    width: 100%;
    height: 100%;
}

.context-menu-inner .context-menu-items,
.folder-context-menu-inner .folder-context-menu-items,
.general-context-menu-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.context-menu-inner .context-menu-items .context-menu-item div,
.folder-context-menu-inner .folder-context-menu-items .context-menu-item div,
.general-context-menu-inner .general-context-menu-items .context-menu-item div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    gap: 10px;
    color: var(--light-color);
    cursor: pointer;
}

.context-menu-inner .context-menu-items .context-menu-item div:hover,
.folder-context-menu-inner .folder-context-menu-items .context-menu-item div:hover,
.general-context-menu-inner .general-context-menu-items .context-menu-item div:hover {
    background-color: var(--accent-darker-color);
    color: var(--lighter-color);
}

.folder-view {
    display: none;
}

.folder-view p {
    margin: 0;
    padding: 0;
}

.folder-view.active {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--dark-color);
    border: 1px solid var(--accent-darker-color);
    border-radius: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.folder-view-inner {
    width: 100%;
    height: 100%;
}

.folder-view-header {
    width: 100%;
    border-bottom: 1px solid var(--accent-darker-color);
}

.folder-view-header-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 10px;
}

.folder-view-header-title {
    display: flex;
}

.folder-view-header-title-header-snippet {
    color: var(--light-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

}

.folder-view-header-title-header-snippet i:first-child {
    cursor: pointer;
    font-size: 2.5rem;
}

.folder-view-header-title-header-snippet p {
    cursor: pointer;
    font-size: 1.5rem;
}

.folder-view-header-title-header-snippet i:last-child {
    font-size: 1.5rem;
    color: var(--grey-light-color);
}

.folder-view-header-title-header-snippet i:first-child:hover,
.folder-view-header-title-header-snippet p:hover {
    color: var(--accent-color);
}

.folder-view-header-title {
    color: var(--light-color);
    font-size: 1.5rem;
    display: flex;
    gap: 5px;
    text-transform: capitalize;
    align-items: center;
}

.folder-view-header-title-inner-path-old {
    display: none;
}

.folder-view-header-title-inner-path-old.active {
    display: block;
    margin: 0;
    padding: 0;
}

.folder-view-header-title-inner-path-old-item {
    color: var(--light-color);
    font-size: 1.3rem;
    display: flex;
    gap: 5px;
    text-transform: capitalize;
    align-items: center;
}

.folder-view-header-title-inner-path-old-item p {
    cursor: pointer;
}

.folder-view-header-title-inner-path-old-item p:hover {
    color: var(--accent-color);
}

.folder-view-header-title-inner-path-old-item i {
    font-size: 1.5rem;
    color: var(--grey-light-color);
}

.folder-view-name {
    font-size: 1.3rem;
}

.folder-view-header-close {
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
}

.folder-view-header-close:hover {
    color: var(--accent-color);
}

.folder-view-body {
    width: 100%;
    height: calc(100% - 4.5rem);
    padding: 10px 0;
    overflow-x: scroll;
}

.folder-view-body .folder-view-headings {
    font-size: 1.2rem;
    padding: 5px 10px;
}

.folder-view-body-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.folder-view-headings {
    width: 100%;
    font-size: 1.5rem;
    padding: 10px 5px;
}

/*.folder-view-section-files .files-list,*/
/*.folder-view-section-folders .folder-list {*/
/*    min-height: 7rem;*/
/*    display: flex;*/
/*    padding: 10px 0;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    gap: 10px;*/
/*}*/

.notifs-container-header-close {
    color: var(--light-color);
    cursor: pointer;
}

.notifs-container-header-close:hover {
    color: var(--accent-color);
}

.notifs-container {
    display: none;
}

.notifs-container.active {
    background: var(--dark-color);
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 300px;
    min-height: 2rem;
    z-index: 999;
    border: 1px solid var(--grey-light-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: block;
}

.notifs-container-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    font-size: 2rem;
}

.notifs-container-inner {
    padding: 5px;
    min-height: 2rem;
}

.notifs-processes-downloads {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.download-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.download-info p {
    margin: 0;
}

.download-item {
    background: var(--darker-color);
    border: 1px solid var(--accent-darker-color);
    border-radius: 5px;
    padding: 8px;
    color: var(--lighter-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.download-progress progress {
    width: 100%;
    height: 6px;
    border: none;
    border-radius: 10px;
    background: var(--darker-color);
}

.download-progress progress::-webkit-progress-bar {
    background: var(--dark-color);
    border-radius: 10px;
}

.download-progress progress::-webkit-progress-value {
    background: var(--accent-darker-color);
    border-radius: 10px;
}

.notifs-container-header-close {
    height: 100%;
    display: flex;
    align-items: center;
}

.notifs-popup {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 300px;
    padding: 5px;
}

.notifs-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.notif-item {
    font-size: 1rem;
    color: var(--lighter-color);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--grey-light-color);
    align-items: center;
    gap: 10px;
    opacity: 0.8;
}

.notif-item.success {
    background: var(--accent-darker-color);
}

.notif-item.error {
    background: var(--warning-color);
}

.notif-item i {
    font-size: 1.5rem;
    color: var(--lighter-color);
    cursor: pointer;
}

.notif-item i:last-child {
    cursor: pointer;
}

.notif-item i:last-child:hover {
    color: var(--accent-color);
}

.notif-item p {
    margin: 0;
}