{% extends "info-pages.html" %}
{% block title %}
<title>Invite Bot | Diskord</title>
{% endblock %}
{% block style %}
<style>

</style>
{% endblock %}
{% block header %}
<h3 class="heading">
    Invite Our Discord bot
</h3>
<i class="bx bxl-discord-alt"></i>
{% endblock %}
{% block body %}
<p>Invite our bot to your server.</p>
<h4>Bot features</h4>
<ol>
    <li>File Stats.</li>
    <li>Direct download links.</li>
</ol>


{% endblock %}
{% block footer %}
<a href="https://{{discord_bot_invite}}" target="_blank">
    <i class="bx bx-link-external"></i>
    <p>Invite</p>
</a>
{% endblock %}

{% block scripts %}
{% endblock %}