{% extends "info-pages.html" %}
{% block title %}
<title>Invite Bot | Diskord</title>
{% endblock %}
{% block style %}
<style>

</style>
{% endblock %}
{% block header %}
<h3 class="heading">
    Join our discord community
</h3>
<i class="bx bxl-discord-alt"></i>
{% endblock %}
{% block body %}
<p>Join our growing community.</p>
<h4>Community perks</h4>
<ol>
    <li>Access to our discord bot.</li>
    <li>Meet the devs.</li>
</ol>


{% endblock %}
{% block footer %}
<a href="https://{{discord_community_join}}" target="_blank">
    <i class="bx bxl-discord-alt"></i>
    <p>Join community server</p>
</a>
{% endblock %}

{% block scripts %}
{% endblock %}