{% extends "base.html" %}
{% block styles %}
<style>
    #uploads-title {
        margin-bottom: 1rem;
        margin-left: 20px;
    }
    .list {
        list-style: -moz-ethiopic-numeric;
    }
    .list li a{
        text-decoration: none;
        color: #ccc;
    }
    .list li a:hover{
        text-decoration: underline;
    }

    .not-logged-in {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .not-logged-in h1 {
        font-size: 2rem;
        font-weight: 500;
    }


</style>

{% endblock %}

{% block title %}
<title>Home | Diskord</title>
{% endblock %}

{% block content %}
{% if session %}
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="files[]" required multiple>
    <input type="submit" value="Upload">
</form>
<form action="/upload" method="post">
    <label for="url">URL</label>
    <input type="text" name="url" id="url" required>
    <input type="submit" value="Upload">
</form>


{% else %}
<div class="not-logged-in">
    <h1>Not logged in</h1>
</div>
{% endif %}
{% endblock %}

{% block scripts %}

{% endblock %}