{% extends "base.html" %}
{% block styles %}
<style>
        #uploads-title {
            margin-bottom: 1rem;
            margin-left: 20px;
        }
        .list {
            list-style: -moz-ethiopic-numeric;
        }
        .list li a{
            text-decoration: none;
            color: #ccc;
        }
        .list li a:hover{
            text-decoration: underline;
        }
    </style>
{% endblock %}
{% block title %}
<title>Uploads | Diskord</title>
{% endblock %}

{% block content %}
<h1 id="uploads-title">Uploads</h1>
{% if session %}
{% if not uploads or uploads|length == 0 %}
<p>No uploads found.</p>
{% else %}
<ul class="list">
    {% for upload in uploads %}
    <li>
        <a href="{{ url_for('uploads', file_id=upload["file_id"]) }}">{{ upload["file_name"] }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% else %}
<div class="not-logged-in">
    <h1>Not logged in</h1>
</div>
{% endif %}
{% endblock %}
{% block scripts %}

{% endblock %}