<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='boxicons-2.1.4/css/boxicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='media/logo.png') }}" type="image/x-icon">

    {% block title %}
    <title>Untitled Page</title>
    {% endblock %}

    {% block styles %}

    {% endblock %}
</head>
<body class="active">
<div class="popnotifs hidden none" id="popnotifs">
    <p id="pop-notif"></p>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flash-messages" id="flash-messages">
    {% for message in messages %}

    {% if message.startswith('error') %}
    <li class="error-flash">{{ message[6:] }}</li>
    {% elif message.startswith('success') %}
    <li class="success-flash">{{ message[8:] }}</li>
    {% else %}
    <li class="info-flash">{{ message }}</li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<nav class="navbar">
    <div class="left-group">
        <div class="branding">
            <a href="{{url_for('index')}}">
                <img src="{{ url_for('static', filename='media/logo.png') }}" alt="logo"
                     id="logo">
                <p class="branding-name">Diskord</p>
            </a>

        </div>
        <div class="nav-items">
            <ul>
                <li class="active"><a href="{{url_for('index')}}">Home</a></li>
                <li class="uploads-btn-nav"><a href="">Uploads</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="profile">
        {% if "username" in session %}
        <div class="search-btn" id="search-trigger">
            <i class='bx bx-search'></i>
        </div>
        {% endif %}
        <div class="user-notifs-group">
            <div class="notif-trigger" id="notif-trigger">
                <i class='bx bxs-bell'></i>
            </div>
            <div class="user-notifs" id="user-notifs-popup">
                <div class="notifs-header">
                    <p>Notifications</p>
                    <p class="clear-btn" id="clear-btn"><i class='bx bx-envelope-open'></i> clear</p>
                </div>
                <div class="notifs-list">
                    <template>
                        <p class="bx-items">Lorem ipsum dolor sit amet.<i class='bx bxs-trash'></i></p>
                    </template>
                </div>
            </div>

        </div>
        {% if "username" in session %}
        <div class="profile-group" onclick="showProfileOptions()">
            <img src="{{session['avatar_url']}}" alt="" id="session-pp">
            <p id="session-name">{{ session['username']}}</p>
        </div>
        <div class="profile-options-menu" id="profile-options-menu">
            <div id="main">
                <a href="{{ url_for('account') }}" class="profile-options-items" id="profile-account"><i
                        class='bx bxs-user'></i> Account</a>
                <a href="{{ url_for('logout') }}" class="profile-options-items" id="profile-log-out"><i
                        class='bx bx-log-out'></i> Log out</a>
            </div>
        </div>
        {% else %}
        <p data-modal-target="#modal" id="login-btn" href="" class="profile-btns" id="login-btn"><i
                class='bx bx-log-in'></i></p>

        {% endif %}
    </div>
</nav>
<div class="modal" id="modal">
    <div class="modal-notifs" id="modal-notifs">
        <p id="modal-notif-message">Error</p>
    </div>
    <div class="modal-header">
        <div class="title">Log in/Sign up with discord</div>
        <button data-close-button class="close-btn">&times;</button>

    </div>
    <div class="modal-body">
        Log in with discord or your <a href="" class="bot-url">synced account</a> to start uploading your files and see
        your account details on discord using <a href="" class="bot-url">our bot.</a>
    </div>
    <div class="login-section">
        <form onsubmit="formSubmission(event)" class="login-form active">
            <div class="form-fields">
                <div>
                    <label for="username">Username</label>
                    <input type="text" id="username" placeholder="Username" autocomplete="username" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <div class="password-group" id="password-group">
                        <input type="password" id="password" placeholder="Password" autocomplete="current-password"
                               required>
                        <div class="show-password" onclick="passwordToggle()" id="password-toggle"><i
                                class='bx bxs-hide'></i></div>
                    </div>
                </div>
            </div>
            <div class="form-submit-btn">
                <button>Log in</button>
            </div>

        </form>
        <div class="form-overlay">
            <div class="loading">
                <i class='bx bx-loader-alt bx-spin'></i>
            </div>
        </div>
        <form onsubmit="tfaFormSubmission(event)" class="tfa-login-form" id="tfa-form">
            <div class="tfa-login-form-inner">
                <label for="tfa-code">Enter your 2fa code</label>
                <div class="group">
                    <input type="text" id="tfa-code" name="2fa-code" placeholder="2FA Code" required>
                    <div class="form-submit-btn">
                        <button>Log in</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="discord-login">
            <a href="{{ oauth_url }}"><i class='bx bxl-discord-alt'></i></a>
        </div>
    </div>

    <div class="invite-section">
        <div class="bot-invite">
            <p>Invite our bot</p>
            <a href="{{url_for('invitebot')}}">Invite <i class='bx bxl-discord-alt'></i></a>
        </div>
        <div class="community-server">
            <p>Join the community</p>
            <a href="{{url_for('join_community')}}">Join <i class='bx bxl-discord-alt'></i></a>
        </div>

    </div>
    <div class="help-section">
        <p>Recover files/Get help recovering files </p>
        <a href="{{url_for('get_help')}}">help <i class='bx bxs-help-circle'></i></a><a
            href="{{url_for('self_recovery')}}">SelfRecovery <i class='bx bxs-wrench'></i></a>
    </div>
</div>
<div class="search-container" id="search-container">
    <div class="header">
        <div class="header-contents">
            <i class='bx bx-search'></i>
            <input type="search" id="search-box" placeholder="Filename">
        </div>
    </div>
    <div class="body-contents">
        {% for file in files %}
        <a href="{{url_for('view', id='1')}}" class="search-urls">
            <div class="search-item">
                <div class="left">
                    <i class="bx-file"></i>
                    <p class="filename">{{file.filename}}</p>
                </div>
                <p class="filesize">{{file.size}}</p>
            </div>
        </a>
        {% endfor %}
    </div>

</div>
<div class="bottom-bar">
    <div class="bottom-bar-inner">
        <div class="{{ 'active' if request.endpoint == 'index'}}"><a href="{{url_for('index')}}"><i
                class="bx bxs-home"></i></a></div>
        {% if 'username' in session %}
        <div class="{{ 'active' if request.endpoint == 'uploads'}}"><a href="{{url_for('uploads')}}"><i
                class="bx bxs-hdd"></i></a></div>
        <div class=""><i class="bx bx-search" id="search-trigger-2"></i></div>
        <div class=""><i class="bx bxs-bell" id="notif-trigger-2"></i></div>
        <div class="{{ 'active' if request.endpoint == 'account'}}"><a href="{{url_for('account')}}"><i
                class="bx bxs-user"></i></a></div>
        {% else %}
        <div onclick="loginPrompt('view your uploads.')"><i class="bx bxs-hdd"></i></div>
        <div onclick="loginPrompt('search your files.')"><i class="bx bx-search"></i></div>
        <div onclick="loginPrompt('view notifications.')"><i class="bx bxs-bell"></i></div>
        <div onclick="loginPrompt('view your account page.')"><i class="bx bxs-user"></i></div>
        {% endif %}

    </div>
</div>
<div id="overlay"></div>
<div id="overlay-clear"></div>
<div id="overlay-content"></div>
<div class="content">

    <div class="main-container">
        <div class="sidebar min">
            <div class="toggle-btn">
                <i class="bx bx-arrow-from-left"></i>
            </div>
            <div class="sidebar-items">
                <div class="group-up">
                    <div class="active">
                        <a class="min" href="{{url_for('index')}}">
                            <i class="bx bx-home"></i>
                            <p class="hidden">Home</p>
                        </a>
                    </div>
                    {% if 'username' in session %}
                    <div>
                        <a class="min" href="{{url_for('uploads')}}">
                            <i class="bx bxs-hdd"></i>
                            <p class="hidden">Uploads</p>
                        </a>
                    </div>
                    {% else %}
                    <div>
                        <div onclick="loginPrompt('view your uploads.')">
                            <a class="min">
                                <i class="bx bxs-hdd"></i>
                                <p class="hidden">Uploads</p>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="group-down">
                    {% if 'username' in session %}
                    <div>
                        <a class="min" href="{{url_for('account')}}">
                            <i class="bx bx-user"></i>
                            <p class="hidden">Account</p>
                        </a>
                    </div>
                    {% else %}
                    <div>
                        <a class="min" onclick="loginPrompt('view your account page.')">
                            <i class="bx bx-user"></i>
                            <p class="hidden">Account</p>
                        </a>
                    </div>
                    {% endif %}

                    {% if 'username' in session %}
                    <div>
                        <a class="min" href="{{url_for('logout')}}" id="logout-btn">
                            <i class="bx bx-log-out"></i>
                            <p class="hidden">Log out</p>
                        </a>
                    </div>
                    {% else %}
                    <div>
                        <a class="min" onclick="loginPrompt('view/upload files.')">
                            <i class="bx bx-log-in"></i>
                            <p class="hidden">Log in</p>
                        </a>
                    </div>

                    {% endif %}
                </div>
            </div>
        </div>


        <div class="body-container min">
            {% block content %}

            {% endblock %}
        </div>
    </div>

</div>

<script src="{{ url_for('static', filename='scripts.js') }}"></script>


{% block scripts %}

{% endblock %}
</body>
</html>