{% extends "base.html" %}
{% block title %}
<title>Download | Diskord</title>
{% endblock %}
{% block styles %}
<style>

    @media (max-width: 625px) {
        .download-container {
            max-width: calc(100% - 20px);
        }

    }

    @media (min-width: 625px) {
        .download-container {
            max-width: 80%;
        }
    }


    .download-container {
        position: relative;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 200ms ease-in-out;
        border: 1px solid var(--grey-light-color);
        border-radius: 5px;
        background-color: var(--darker-color);
        width: 500px;
        color: var(--light-color);
        padding: 0;
    }

    .download-container .header {
        background: var(--dark-color);
        color: var(--light-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px 5px 0 0;
        padding: 0 10px;
        font-size: 1.1rem;
        border-bottom: 1px solid var(--grey-light-color);
    }

    .download-container .header .g1 {
        display: flex;
        flex-direction: column;
        width: calc(90% - 30px);
        padding: 0;
        margin: 0;
    }

    .g1 .p1 {
        font-size: 1.5rem;
        padding: 0.5rem 0;
        margin: 0;
        word-break: break-word;
    }

    .download-container .header .g1 .p2 {
        padding: 0;
        margin: 0;
        font-size: 1rem;
    }

    .download-container .header .g2 {
        width: 40px;
        height: 40px;
        margin: 10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .download-container .header .g2 i {
        font-size: 2.5rem;
        padding: 0;
        margin: 0;
    }

    .download-body {
        padding: 5px;
    }

    .download-body .progress {
        padding: 5px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: flex-start;
    }

    .progress .progress-meter {
        width: 100%;
        background: none;
        border-radius: 10px;
        border: none;
        height: 12px;
        display: flex;
        align-items: center;

    }

    .progress .progress-meter progress {
        width: 100%;
        border: 1px solid var(--grey-light-color);
        border-radius: 10px;
    }

    .progress .progress-meter progress::-webkit-progress-bar {
        background-color: var(--dark-color);
        border-radius: 10px;

    }

    .progress .progress-meter progress::-webkit-progress-value {
        background-color: var(--accent-color);
        border-radius: 10px;

    }

    .progress-banner {
        background-color: var(--dark-color);
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;

    }

    .progress-banner p {
        font-size: 5rem;
        color: var(--light-color);
    }

    .info-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 1rem;
    }

    .progress-footer {
        padding: 0 5px;
        display: flex;
        justify-content: center;
    }

    .progress-footer p {
        padding: 0;
        margin: 0;
    }

</style>


{% endblock %}
{% block content %}
<div class="download-container">
    <div class="header">
        <div class="g1">
            <p class="p1">{{ file_info.filename }}</p>
            <p class="p2" id="info-text">Prepairing your file, please don't close this page</p>
        </div>
        <div class="g2">
            <i class="bx bx-file"></i>
        </div>
    </div>
    <div class="download-body">
        <div class="progress">
            <p class="progress-meter">
                <progress id="progress-bar" max="100" value="0"></progress>
            </p>
            <p id="progress-activity">Starting Download...</p>
        </div>
        <div class="progress-banner">
            <p id="progress-percent">0%</p>
        </div>
        <div class="info-footer">
            <p class="size">FileSize: {{ file_info.size_simple }}</p>
            <p class="filename">Chunks: {{ file_info.chunks_number }}</p>
        </div>
        <div class="progress-footer">
            <p id="info-footer">Download will start automatically</p>
        </div>

    </div>
    <div class="file-info">
        <p id="file_json" style="display: none"> {{file_info.subfiles}}</p>
    </div>


</div>

{% endblock %}
{% block scripts %}
<script>
    // download tracking
    let progress_bar = document.getElementById('progress-bar');
    let progress_activity = document.getElementById('progress-activity');
    let progress_percent = document.getElementById('progress-percent');
    let infoText = document.getElementById('info-text');
    let infoFooter = document.getElementById('info-footer');

    const json_resp = document.getElementById('file_json').innerHTML;
    const subfiles = JSON.parse(json_resp);

    const fileID = "{{ file_info.id }}";

    function toFullNumber(number) {
        return Math.round(number);

    }

    // updater
    function updateProgress(stage, stage_percent, stage_activity) {
        progress_activity.innerHTML = stage_activity;
        // calculate overall percentage according to stage, stage 1 is 0-90%, stage 2 is 90-100% and stage 3 is 100%
        let overall_percent = 0;
        if (stage == 1) {
            // For stage 1, the overall percentage is in the range of 0-90%
            overallPercent = (stage_percent / 100) * 90;
            progress_bar.value = toFullNumber(overallPercent);
            progress_percent.innerHTML = toFullNumber(overallPercent) + '%';
        } else if (stage == 2) {
            // For stage 2, the overall percentage is in the range of 90-100%
            overallPercent = 90 + (stage_percent / 100) * 10;
            progress_bar.value = toFullNumber(overallPercent);
            progress_percent.innerHTML = toFullNumber(overallPercent) + '%';
        } else if (stage == 3) {
            // For stage 3, the overall percentage is 100%
            overallPercent = 100;
            progress_bar.value = toFullNumber(overallPercent);
            progress_percent.innerHTML = toFullNumber(overallPercent) + '%';
            progress_activity.style.display = 'none';
        }

    }


    // continously check for download status
    function fetchProgress() {
        fetch('/download_progress', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                fileID
            })
        })
            .then(response => {
                if (response.status === 200) {
                    response.json().then(data => {
                        // console.log(data.message);
                        // eg: 1_50_Downloading subfiles [1/2]
                        console.log(data.message)
                        const stage = data.message.split('_')[0];
                        const stage_percent = data.message.split('_')[1];
                        const stage_activity = data.message.split('_')[2];

                        // Update progress bar
                        updateProgress(stage, stage_percent, stage_activity);

                        // Check if the message matches the desired format
                        if (data.message.startsWith('3_100_')) {
                            // console.log('Download completed!');
                            downloadFile('/download_file/' + fileID, "{{ file_info.filename }}");
                        } else {
                            // If not completed, fetch progress again
                            fetchProgress();
                        }
                    });
                } else {
                    response.json().then(data => {
                        // console.log(data.message);
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    // Start fetching progress
    fetchProgress();

    function downloadFile(url, fileName) {
        infoText.style.display = 'none';
        infoFooter.innerHTML = 'Downloading, please don\'t close this page.';

        const xhr = new XMLHttpRequest();
        xhr.open("GET", url, true);
        xhr.responseType = "blob";

        xhr.addEventListener("progress", (event) => {
            if (event.lengthComputable) {
                const percentComplete = (event.loaded / event.total) * 100;
                progress_bar.value = percentComplete;
                progress_percent.innerHTML = toFullNumber(percentComplete) + '%';
            }
        });

        xhr.onreadystatechange = () => {
            if (xhr.readyState === 4 && xhr.status === 200) {
                const blob = xhr.response;
                const a = document.createElement("a");
                const url = window.URL.createObjectURL(blob);
                a.href = url;
                a.download = fileName;
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
                infoFooter.innerHTML = 'Download completed!';
                // make post request to delete file
                fetch('/download_file_complete', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        fileID
                    })
                })
                    .then(response => {
                        if (response.status === 200) {
                            response.json().then(data => {
                                console.log(data.message);
                            });
                        } else {
                            response.json().then(data => {
                                console.log(data.message);
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }
        };

        xhr.send();
    }


</script>

{% endblock %}
