{% extends "base.html" %}
{% block title %}
<title>Uploads | alternate</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/uploads.css') }}">
{% endblock %}
{% block styles %}

{% endblock %}
{% block content %}
<div class="container-full">
    <div class="container-full-inner">
        <div class="container-header-section">
            <div class="container-header-section-inner">

            </div>

        </div>
        <div class="container-body-section">
            <div class="container-body-section-inner">
                <div class="body-section-files">
                    <div class="folder-view">
                        <div class="folder-view-inner">
                            <div class="folder-view-header">
                                <div class="folder-view-header-inner">
                                    <div class="folder-view-header-title">
                                        <div class="folder-view-header-title-header-snippet">
                                            <i class="bx bxs-folder-open"></i>
                                            <p>Uploads</p>
                                            <i class='bx bxs-chevron-right'></i>
                                        </div>
                                        <div class="folder-view-header-title-inner-path-old">

                                        </div>
                                        <div class="folder-view-header-title-inner-path">
                                            <p class="folder-view-name"></p>
                                        </div>
                                    </div>
                                    <div class="folder-view-header-close">
                                        <i class="bx bx-x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="folder-view-body">
                                <div class="folder-view-body-inner">
                                    <div class="folder-view-section-folders">
                                        <p class="folder-view-headings">Folders</p>
                                        <div class="folder-list">

                                        </div>
                                    </div>
                                    <div class="folder-view-section-files">
                                        <p class="folder-view-headings">Files</p>
                                        <div class="files-list">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="body-section-files-inner">
                        <div class="files-subgroups" id="files-recent">
                            <div class="files-header">
                                <p>Recent</p>
                            </div>
                            <div class="files-body">
                                <div class="recents-list">

                                </div>
                            </div>
                        </div>
                        <div class="files-subgroups" id="files-folders">
                            <div class="files-header">
                                <p>Folders</p>

                            </div>
                            <div class="files-body">
                                <div class="folders-list">

                                </div>
                            </div>
                        </div>
                        <div class="files-subgroups" id="files-files">
                            <div class="files-header">
                                <p>Files</p>
                                <div class="file-sorter">
                                    <div class="sort-type">
                                        <i class="bx bx-sort-down"></i>
                                    </div>
                                    <select name="sorter" id="sorter-files" class="sort-selector">
                                        <option value="hide">Sort</option>
                                        <option value="name">Name</option>
                                        <option value="date">Date</option>
                                        <option value="size">Size</option>
                                    </select>
                                </div>
                            </div>
                            <div class="files-body">
                                <div class="files-list">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body-section-details">
                    <div class="file-details">
                        <div class="header">
                            <p>Details</p>
                        </div>
                        <div class="details-options-modal-overlay"></div>
                        <div class="details-options-modal">
                            <div class="details-options-modal-inner">
                                <div class="details-options-modal-header">
                                    <div class="close-btn">
                                        <i class="bx bx-x"></i>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="details-body">
                            <div class="details-body-options">
                                <div class="details-body-options-inner">
                                    <div class="details-view">
                                        <i class="bx bx-link-external"></i>
                                    </div>
                                    <div class="details-copy">
                                        <i class="bx bx-copy"></i>
                                    </div>
                                    <div class="details-move">
                                        <i class="bx bx-move"></i>
                                    </div>
                                    <div class="details-download">
                                        <i class="bx bxs-download"></i>
                                    </div>
                                    <div class="details-rename">
                                        <i class="bx bx-rename"></i>
                                    </div>
                                    <div class="details-share">
                                        <i class="bx bx-share-alt"></i>
                                    </div>
                                    <div class="details-delete">
                                        <i class="bx bx-trash"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="details-body-folder-options">
                                <div class="details-body-folder-options-inner">
                                    <div class="folder-details-view">
                                        <i class="bx bx-folder-open"></i>
                                    </div>
                                    <div class="folder-details-move">
                                        <i class="bx bx-move"></i>
                                    </div>
                                    <div class="folder-details-rename">
                                        <i class="bx bx-rename"></i>
                                    </div>
                                    <div class="folder-details-delete">
                                        <i class="bx bx-trash"></i>
                                    </div>
                                </div>
                            </div>


                            <div class="details-body-inner">
                                <div class="details-body-empty">
                                    <i class="bx bx-file-find"></i>
                                    <p>Select a file or folder to view details</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="account-stats">
                        <div class="header">
                            <p>Account stats</p>
                        </div>
                        <div class="account-stats-body">
                            <div class="account-stats-body-inner">

                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="context-menu">
    <div class="context-menu-inner">
        <div class="context-menu-items">
            <div class="context-menu-item">
                <div class="context-view">
                    <i class="bx bx-link-external"></i>
                    <p>View</p>
                </div>
            </div>
            <div class="context-menu-item">
                <div class="context-copy">
                    <i class="bx bx-copy"></i>
                    <p>Copy</p>
                </div>
            </div>
            <div class="context-menu-item">
                <div class="context-move">
                    <i class="bx bx-move"></i>
                    <p>Move</p>
                </div>
            </div>
            <div class="context-menu-item">
                <div class="context-download">
                    <i class="bx bxs-download"></i>
                    <p>Download</p>
                </div>
            </div>
            <div class="context-menu-item">
                <div class="context-rename">
                    <i class="bx bx-rename"></i>
                    <p>Rename</p>
                </div>
            </div>
            <div class="context-menu-item">
                <div class="context-share">
                    <i class="bx bx-share-alt"></i>
                    <p>Share</p>
                </div>
            </div>
            <div class="context-menu-item">
                <div class="context-delete">
                    <i class="bx bx-trash"></i>
                    <p>Delete</p>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="folder-context-menu">
    <div class="folder-context-menu-inner">
        <div class="folder-context-menu-items">
            <div class="context-menu-item">
                <div class="folder-context-view">
                    <i class="bx bx-folder-open"></i>
                    <p>View</p>
                </div>
            </div>
            <div class="context-menu-item">
                <div class="folder-context-move">
                    <i class="bx bx-move"></i>
                    <p>Move</p>
                </div>
            </div>
            <div class="context-menu-item">
                <div class="folder-context-rename">
                    <i class="bx bx-rename"></i>
                    <p>Rename</p>
                </div>
            </div>
            <div class="context-menu-item">
                <div class="folder-context-delete">
                    <i class="bx bx-trash"></i>
                    <p>Delete</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="general-context-menu">
    <div class="general-context-menu-inner">
        <div class="general-context-menu-items">
            <div class="context-menu-item">
                <div class="general-context-new-folder">
                    <i class="bx bx-folder-plus"></i>
                    <p>New folder</p>
                </div>
            </div>
            <div class="context-menu-item">
                <div class="general-context-file-upload">
                    <i class="bx bx-upload"></i>
                    <p>File upload</p>
                </div>
            </div>
            <div class="context-menu-item">
                <div class="general-context-folder-upload">
                    <i class="bx bxs-folder-plus"></i>
                    <p>Folder upload</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="notifs-container">
    <div class="notifs-container-header">
        <div class="notifs-container-header-inner">
            <div class="notifs-container-header-close">
                <i class="bx bx-x"></i>
            </div>
        </div>
    </div>
    <div class="notifs-container-inner">
        <div class="notifs-messages">

        </div>
        <div class="notifs-processes">
            <div class="notifs-processes-downloads"></div>
        </div>

    </div>
</div>
</div>
<!--<div class="folder-view">-->
<!--    <div class="folder-view-inner">-->
<!--        <div class="folder-view-header">-->
<!--            <div class="folder-view-header-inner">-->
<!--                <div class="folder-view-header-title">-->
<!--                    <i class="bx bxs-folder-open"></i>-->
<!--                    <p>Uploads</p>-->
<!--                    <i class='bx bxs-chevron-right'></i>-->
<!--                    <div class="folder-view-header-title-inner-path">-->
<!--                        <p class="folder-view-name"></p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="folder-view-header-close">-->
<!--                    <i class="bx bx-x"></i>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="folder-view-body">-->
<!--            <div class="folder-view-body-inner">-->
<!--                <div class="folder-view-section-folders">-->
<!--                    <p class="folder-view-headings">Folders</p>-->
<!--                    <div class="folder-list">-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="folder-view-section-files">-->
<!--                    <p class="folder-view-headings">Files</p>-->
<!--                    <div class="files-list">-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/uploads_scripts.js') }}"></script>
{% endblock %}